body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: #d95980;
}
.green{
    background-color: rgb(99, 179, 99);
}
.blue{
    background-color: #63aac0;
}
.orange{
    background-color: #f99b45;
}

.flash{
    background-color: white;
}
.userflash{
    background-color: greenyellow;
}