#flex{
height: 50px;
width: 900px;
background-color: pink;
border: 2px solid lightseagreen;
border-radius: 10px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-content: center;
}

.list{
height: 50px;
width: 80px;
margin-left: 10px;
font-size: 24px;
line-height: 50px;
}